
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// colors
$color-gray-dark: #3c3c3c;
$color-gray-light: #bababa;
$color-gray-lighter: #d6d6d6;
$color-black: #1d1d1d;
$color-white: #fff;
$color-white-dark: #fafafa;
$color-accent: #b69176;
$color-accent-lighter: #d5c2b5;

// basic sizes

$media-sm: 768px;
$media-sm-margins: 22px;

$media-md: 992px;
$media-md-margins: 26px;

$media-lg: 1200px;
$media-lg-margins: 30px;

$page-xs-border-width: 0;
$page-sm-border-width: 0;
$page-md-border-width: 0;
$page-lg-border-width: 0;

// font sizes
$font-size-00: 30px;
$font-size-0: 28px;
$font-size-1: 24px;
$font-size-12: 20px;
$font-size-2: 18px;
$font-size-3: 16px;
$font-size-4: 14px;
$font-size-5: 12px;
$font-size-6: 10px;
$font-size-7: 8px;
