@import "variables";

@mixin tablet{
  @media (min-width: $media-sm){ @content }
}

@mixin tablet-land{
  @media (min-width: $media-md){ @content }
}

@mixin desktop{
  @media (min-width: $media-lg){ @content }
}

.menu{

  .menu__item{
    font-weight: 400;
    font-size: $font-size-5;

    &:hover > .menu{
      display: block;
    }

    .menu{
      position: relative;
      display: none;
      padding-left: 10px;

      @include tablet{
        display: inline-block;
        padding-left: 0;
      }
    }

    a{
      text-decoration: none;
      text-transform: uppercase;
    }

    @include tablet{
      display: inline-block;

      &:hover > .menu {
        display: block;
      }

      .menu{
        display: none;
        position: absolute;
        text-align: center;
        width: 150px;
        text-align: left;
        top: 50%;
        padding: 10px 0;
        z-index: 1;

        .menu__item{
          float:none;
          padding: 5px 15px;
        }

        a{
          white-space:nowrap;
          display:block;
          padding: 5px 12px;
        }
      }

      a{
        display: block;
        border-bottom: 1px solid transparent;
        color: $color-white;
        padding: 12px 12px;
      }
    }
  }
}

.h1toh2{
  font-size: 34px;
  
  a{
    color: $color-black;
  }
}

.breadcrumb{
  font-size: $font-size-7;

  @include tablet{
    font-size: $font-size-5;
  }
}

.h1tags{
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;

  h1{
    margin: 0;
    font-size: $font-size-5;
    color: #e6186e;
  }
}

.footer_link{
  a{
    color: #8e8f9e;

    &:hover{
      color: #e6186e;
    }
  }
}

.footer_brand{
  font-size: $font-size-12;
  color: $color-white;
  margin-bottom: 30px;
}

.default-view{

  h2{
    font-weight: 400;
    color: #b51068;

    span{
      font-size: 36px;
    }
  }

  ul{
    list-style: disc;
  }

  table{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-collapse: separate;
    border-spacing: 0;

    caption{
      background-color: #b51068;
      caption-side: top;
      color: #fff;
      text-align: center;
    }

    tr{
      padding: 10px;
      box-sizing: border-box;
      padding: 10px;
    }

    th{
      background-color: #b51068;
      color: #fff;
      border: 1px solid rgba(0,0,0,.1);
      padding: 10px;
    }

    td{
      border-width: 0 1px 1px 0;
      border: 1px solid rgba(0,0,0,.1);
      padding: 10px;
    }
  }

}